{{name}}

	<button class="change-devour" data-id="{{id}}" data-neweat="{{devoured}}">
		{{#if devoured}}
			Eaten!
		{{else}}
			Devour Me!
		{{/if}}
	</button>
	<button class="devour-burger" data-id="{{id}}" data-devour="{{devour}}">
			DEVOUR ME!
	</button>
</li>
