{{name}}

	<button class="change-devour" data-id="{{id}}" data-neweat="{{devoured}}">
		{{#if devoured}}
			Eaten!
		{{else}}
			Devour Me!
		{{/if}}
	</button>
	{{!-- <button class="delete-cat" data-id="{{id}}" data-delete="{{delete}}">
			DELETE
	</button> --}}
</li>
